<span
  class="ant-checkbox"
  [class.ant-checkbox-checked]="nzChecked && !nzIndeterminate"
  [class.ant-checkbox-disabled]="nzDisabled"
  [class.ant-checkbox-indeterminate]="nzIndeterminate"
>
  <input
    #inputElement
    [checked]="nzChecked"
    [ngModel]="nzChecked"
    [disabled]="nzDisabled"
    (ngModelChange)="innerCheckedChange($event)"
    (click)="$event.stopPropagation()"
    type="checkbox"
    class="ant-checkbox-input"
    cdkOverlayOrigin
  />

  <span style="display: flex">
    <span class="ant-checkbox-inner"> </span>
    <span #contentElement (cdkObserveContent)="checkContent()" style="padding-left: 8px"
      ><ng-content></ng-content
    ></span>
  </span>
</span>

<!--
cdkConnectedOverlay : 覆盖层声明
cdkConnectedOverlayOrigin ：连接点（需要覆盖层度标签）
cdkConnectedOverlayOpen ： 覆盖层是否打开
cdkConnectedOverlayHasBackdrop : 叠加层是否应附加背景=true
cdkConnectedOverlayMinWidth : 覆盖面板的最小宽度。
cdkConnectedOverlayWidth :覆盖面板的宽度
backdropClick : 单击背景时发出的事件
detach : 分离叠加层时发出的事件。

 -->
<ng-template
  cdkConnectedOverlay
  nzConnectedOverlay
  [cdkConnectedOverlayOrigin]="cdkOverlayOrigin"
  [cdkConnectedOverlayOpen]="nzOpen"
  (backdropClick)="closeDropDown()"
  (detach)="closeDropDown()"
  [cdkConnectedOverlayHasBackdrop]="true"
  [cdkConnectedOverlayMinWidth]="300"
  [cdkConnectedOverlayWidth]="300"
  (positionChange)="onPositionChange($evemt)"
>
  <div class="ant-popover  ant-popover-placement-top">
    <div class="ant-popover-content">
      <div class="ant-popover-arrow"></div>
      <div class="ant-popover-inner">
        <div class="ant-popover-inner-content">
          <div class="ant-popover-message">
            <i nz-icon nzType="minus-circle" nzTheme="outline"></i>
            <div class="ant-popover-message-title">
              Are you sure delete this task?
            </div>
          </div>
          <div class="ant-popover-buttons">
            <button nz-button nzType="default" nzSize="small">取消</button>
            <button nz-button nzType="primary" nzSize="small">确定</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
