<span
  class="ant-checkbox"
  [class.ant-checkbox-checked]="nzChecked && !nzIndeterminate"
  [class.ant-checkbox-disabled]="nzDisabled"
  [class.ant-checkbox-indeterminate]="nzIndeterminate"
>
  <input
    #inputElement
    [checked]="nzChecked"
    [ngModel]="nzChecked"
    [disabled]="nzDisabled"
    (ngModelChange)="innerCheckedChange($event)"
    (click)="$event.stopPropagation()"
    type="checkbox"
    class="ant-checkbox-input"
    cdkOverlayOrigin
  />

  <span style="display: flex">
    <span class="ant-checkbox-inner"> </span>
    <span #contentElement (cdkObserveContent)="checkContent()" style="padding-left: 8px">
      <ng-content></ng-content>
    </span>
  </span>
</span>
<ng-template
  cdkConnectedOverlay
  nzConnectedOverlay
  [cdkConnectedOverlayOrigin]="cdkOverlayOrigin"
  [cdkConnectedOverlayOpen]="nzOpen"
  (backdropClick)="closeConfirm()"
  (detach)="closeConfirm()"
  [cdkConnectedOverlayHasBackdrop]="true"
  [cdkConnectedOverlayMinWidth]="hlWidth"
  [cdkConnectedOverlayWidth]="hlWidth"
  (positionChange)="onPositionChange($event)"
  [cdkConnectedOverlayPositions]="_positions"
>
  <div class="ant-popover-placement-top">
    <div class="ant-popover-content">
      <div class="ant-popover-arrow"></div>
      <div class="ant-popover-inner">
        <div class="ant-popover-inner-content">
          <div class="ant-popover-message">
            <ng-container *ngIf="isIconTemplateRef()">
              <ng-template [ngTemplateOutlet]="hlIcon"> </ng-template>
            </ng-container>
            <ng-container *ngIf="!isIconTemplateRef()">
              <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i>
            </ng-container>

            <div class="ant-popover-message-title">
              <ng-container *ngIf="!isCancelShowTootip">
                <ng-container *ngIf="!isOTootipTemplateRef()">
                  {{ hlOkTitle }}
                </ng-container>
                <ng-container *ngIf="isOTootipTemplateRef()">
                  <ng-template [ngTemplateOutlet]="hlOkTitle"></ng-template>
                </ng-container>
              </ng-container>

              <ng-container *ngIf="isCancelShowTootip">
                <ng-container *ngIf="!nzChecked">
                  <ng-container *ngIf="!isOTootipTemplateRef()">
                    {{ hlOkTitle }}
                  </ng-container>
                  <ng-container *ngIf="isOTootipTemplateRef()">
                    <ng-template [ngTemplateOutlet]="hlOkTitle"></ng-template>
                  </ng-container>
                </ng-container>

                <ng-container *ngIf="nzChecked">
                  <ng-container *ngIf="!isCTootipTemplateRef()">
                    {{ hlCancelTitle }}
                  </ng-container>
                  <ng-container *ngIf="isCTootipTemplateRef()">
                    <ng-template [ngTemplateOutlet]="hlCancelTitle"></ng-template>
                  </ng-container>
                </ng-container>
              </ng-container>
            </div>
          </div>
          <div class="ant-popover-buttons">
            <button *ngIf="hlCancelText" nz-button nzType="default" nzSize="small" (click)="_onCancel()">
              {{ hlCancelText }}
            </button>
            <button nz-button nzType="primary" nzSize="small" (click)="_onOk()">{{ hlOkText }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
