<form nz-form [formGroup]="form" nzLayout="horizontal">
  <nz-form-item>
    <nz-form-label>name</nz-form-label>
    <nz-form-control>
      <input nz-input formControlName="name" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>age</nz-form-label>

    <nz-form-control>
      <input nz-input formControlName="age" />
    </nz-form-control>
  </nz-form-item>
</form>
<button nz-button nzType="default" (click)="_submitForm()">提交</button>

<pre>
  {{ user$ | async | json }}
</pre>
